[Unit]
Description=sandboxd.service
After=network-online.target
Before=yuanrong.service

[Service]
PIDFile=/var/run/sandboxd.pid
PassEnvironment=NODE_NAME KUBERNETES_SERVICE_HOST KUBERNETES_SERVICE_PORT

Environment=GOGC=300
Environment=GOMEMLIMIT=4GiB
EnvironmentFile=-/etc/akernel/proxy.env

ExecStartPre=/usr/local/bin/sandboxd-network-prepare
ExecStartPre=/bin/mkdir -p /home/akernel/logs/sandboxd
ExecStart=/bin/bash -ce "exec /usr/local/bin/sandboxd \
  -log-level debug \
  -log-file /home/akernel/logs/sandboxd/sandboxd.log \
  -config /home/akernel/sandboxd/config.toml"

KillMode=process
Restart=always
RestartSec=5s
Delegate=yes
UMask=000
TasksMax=infinity

[Install]
WantedBy=multi-user.target
