[Unit]
Description=yuanrong.service

[Service]
#Type=simple
PIDFile=/run/yuanrong.pid
PassEnvironment=ETCD_PORT ETCD_PEER_PORT ETCD_ADDRESS HOSTNAME AKS_LOCAL_MODE AKERNEL_NODE_IP INSTANCE_IP LITEBUS_DATA_KEY YR_LOG_PATH YR_INSTALLATION_DIR YR_RRT_CONTROL_SOCKET_PATH YR_IMAGE_PROCESS_CONFIG ENABLE_METRICS ENABLE_TRACE TRAEFIK_MODE TRAEFIK_ENABLE_TLS TRAEFIK_HTTP_ENTRYPOINT
Environment="CONTAINER_EP=unix:///run/sandboxd/sandboxd.sock"
Environment="RUNTIME_HOME_DIR=/home/yuanrong/runtime"
Environment="YR_NOSET_CUDA_VISIBLE_DEVICES=1"
ExecStartPre=-/bin/mkdir -p /home/yuanrong/runtime
ExecStart=/usr/bin/bash /home/yuanrong/yr_node_bootstrap.sh

ExecReload=/bin/kill -15 $MAINPID
KillMode=control-group
Restart=always
Delegate=yes
UMask=000
TasksMax=infinity

[Install]
WantedBy=multi-user.target
